/* fonts */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-mono: "JetBrains Mono", "Fira Code", "Courier Prime", monospace;
  --font-mont: "Montserrat", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.pause_svg__pauseIcon {
  width: 42px;
  height: 42px;
}
.play_svg__playIcon {
  width: 38px;
  height: 38px;
  margin-left: 4px;
}
